<div>
    <div class="border-2 rounded border-green-500 p-6 mb-8">
        <img src="<%= mapImage %>" alt="How It Works" class="w-full h-auto"/>
    </div>
    <h1 class="text-2xl font-bold text-gray-900 mb-6">
        Sourcing Recommendation: Philippines, Japan and China
    </h1>

    <!-- Bulleted List -->
    <ul class="list-disc list-inside space-y-4 text-gray-700 text-base mb-8">
        <li>
            The client currently sources DTC114EU3HZGT106 from Japan and the Philippines.
        </li>
        <li>
            However, Price Negotiator&trade; has identified an alternate authorized distributor within Japan
            offering the same component at a 45.1% lower rate.
        </li>
        <li>
            However, Price Negotiator&trade; has identified an independent stockist with sufficient quantity
            to fulfill annual requirements within China offering an alternate FFF at a 54.29% lower rate.
        </li>
    </ul>

    <!-- Maximum Annual Savings Potential Box -->
    <div class="bg-[#e0f2e8] border-l-4 border-[#3aa77f] rounded-lg p-4 text-black font-semibold text-lg flex items-center">
        Maximum annual savings potential: <span class="ml-2">$6314/year</span>
    </div>
</div>